**/node_modules
.turbo
bots/build
backend/build
backend/.pnpm-debug.log
backend/node
backend/.env
bots/.env
db/.env
db/prisma/migrations
app/out
backend/.env
frontend/app/tailwind.css
.vscode
.pnpm-debug.log
