**/node_modules
.turbo
bots/build
old_backend/build
runecoins/build
old_backend/.pnpm-debug.log
old_backend/node
old_backend/.env
bots/.env
db/.env
db/prisma/migrations
app/out
backend/.env
frontend/app/tailwind.css
.vscode
**/.pnpm-debug.log
backend/target